<div @fade>
<header>
    <h3>My work</h3>
</header>
<div class="container-fuild bg-white portfo">
    <div *ngIf="isLoading" style="text-align: center">
        <app-loading></app-loading>
      </div>
      
<div class="container" *ngIf="!isLoading">
  <div class="row">
      <div class="col-md-12">
      <h3>Portfolio</h3>
          <div *ngFor="let portThumbItems of portThumb.portThumb">  
            <div class="collage {{portThumbItems.class}} scrollflow -slide-top" target="slidecontent" style="filter: opacity(1); transform: translate3d(0px, 100px, 0px) scale(1); transition: all 250ms ease-out;">
            <img src="images/thumbnails/{{portThumbItems.image}}">
              <div class="box-text-inner">
                <div class="content"><h2>{{portThumbItems.heading}}</h2><p>{{portThumbItems.des}}</p></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>