html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, main{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {font-family: "Calluna Sans W01 Regular";
    src: url("fonts/ef7d8501392a1d535e760b68aa5e5141.eot"); /* IE9*/
    src: url("fonts/ef7d8501392a1d535e760b68aa5e5141.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/ef7d8501392a1d535e760b68aa5e5141.woff2") format("woff2"), /* chrome?firefox */
    /*url("fonts/ef7d8501392a1d535e760b68aa5e5141.woff") format("woff"),  chrome?firefox */
    url("fonts/ef7d8501392a1d535e760b68aa5e5141.ttf") format("truetype"), /* chrome?firefox?opera?Safari, Android, iOS 4.2+*/
    /*url("fonts/ef7d8501392a1d535e760b68aa5e5141.svg#Calluna Sans W01 Regular") format("svg"); /* iOS 4.1- */
}
    

body{
	margin:0;
	padding: 0;
	background:#092e3f;
	line-height:18px;
	overflow-x: hidden;
	font: normal 14px Arial, Helvetica, sans-serif;
}

.bg-white{
	background: #fff;
}

.home-wrapper{
	width: 100%;
	height:75%;
	min-height: 75%;	
}
.img-box{
	width: 646px;
	height: 372px;
	position: absolute;
}

.clear{
	clear: both;
}
.home-text{
	font-size: 24px;
	color: #fffefe;
	text-align: center;
}

footer{ 
	background:#ececec;
	padding:10px 0 !important;
	width:100%;
	text-align:center;
	float: left;
	}
	
.inner-container{
	padding: 0 5% 120px 5%;
	float: left;
	background: #fff;
}
.inner-container h3{
	font:bold 28px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color: #363940;
	text-align: left;
	position: relative;
}

.inner-container.contact{
	float: inherit;
}

header{
	width: 100%;
	overflow: hidden;
	min-height: 250px;
	height: 250px;
	position: relative;
	font-size: 24px;
	color: #fffefe;
	text-align: center;
	background: #092e3f;
}

header h3{
	font: normal 50px arial;
	padding: 40px 0 10px 0;
	display: inline-block;
	position: relative;
	}

header h3:after{
	position: absolute;
	content: '';
	height: 4px;
	background-color: #fffefe;
	width: 100%;
	margin: 0 auto;
	clear: both;
	bottom: 0;
	left: 0;
	right: 0;
	}
	
header:after {
	-moz-transform: skewY(3deg);
	-ms-transform: skewY(3deg);
	-webkit-transform: skewY(3deg);
	transform: skewY(3deg);
	height: 135px;
	width: 100%;
	content: "";
	bottom: -70px;
	left: 0;
	background: #fff;
	position: absolute;
}

.innerpage{
	font-family: 'Calluna Sans W01 Regular';
}

.inner-header{
	min-height: 272px;
	width: 100%;
	background:#092e3f;
	-webkit-transform: skewX(5deg);
	-moz-transform: skewX(5deg);
	-ms-transform: skewX(5deg);
	-o-transform: skewX(5deg);
	transform: skewY(5deg);
}

/*-----About me------*/

.content-area{
	color: #fff;
	float: left;
	background: #fff;
}

.content-inner{
	float: left;
	width: 100%;
}

.about p{
	color: #363940;
	font-family: "Calluna Sans W01 Regular";
	font-size: 22px;
	line-height: 30px; 
	margin-top: 35px;
}

/* info-what start  */

.about h3 {
	font: bold 28px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	color: #363940;
	padding-bottom: 10px;
}

.tech h4{
	font:24px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:10px 0;
	color: #363940;
	}

.about#aboutme .tech{
    text-align: center;
}
#aboutme{padding: 20px 0;}
.about#aboutme p{
    line-height: 27px;
    margin-top: 12px;
    font-size: 21px;
    }

.about#aboutme h3 {
    margin-bottom: 120px;
    position: relative;
}

.about#aboutme h3:after{
    height: 4px;
    width: 10%;
    content: "";
    bottom: -3px;
    left: 45%;
    background: #060606;
    position: absolute;
}

/* info-what end */



/* loader start */

.overlay {
	position:fixed;
	display:block;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(74,74,74,.8);
	z-index:99999;
}
.spinner {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

/* top line */

.ngProgressLite {
	pointer-events: none;
}

.ngProgressLiteBar {
	background: #ff3030;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	height: 3px;
}

.ngProgressLite .ngProgressLiteBarShadow {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #ff3030, 0 0 5px #ff3030;
	opacity: 1;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* loader end */



@media (max-width: 991px){
	.home-text{
		font-size: 24px;
	}
	.home-text h3{
		font: normal 50px arial;
		margin: 130px 0 40px 0;
	}
}
@media (max-width: 767px) {
	.home-text{
		font-size: 20px;
	}
	.home-text h3{
		font: normal 37px arial;
		margin: 130px 0 40px 0;
	}
	.bottom-wrapper{
		height: 255px;
		background:url(./images/bg_home_01.svg) left -51px repeat-x #ececec;
	}
}

@media (max-width: 576px){ 
	.home-text{
		font-size: 16px;
	}
	.home-text h3{
		font: normal 35px arial;
		margin: 130px 0 22px 0;
	}
	.bottom-wrapper{
		height: 92px;
		background:none left -51px repeat-x #adadad;
	}

	.tech-outer h3{
		font: 15px Arial, Helvetica, sans-serif;
		}
}

/* technology end */