<div class="main-wrapper" @fade>
  <div class="home-wrapper">
    <div class="home-text">
      <h3>{{heading}}</h3>
      <ul>
          <li *ngFor="let listItem of list">{{listItem.content}}</li>
      </ul>
    <span>{{text}}</span>
    </div>
    <div class="see-bottom"></div>
  </div>
  <div class="clear"></div>
  <div class="bottom-img">
      <div class="bottom-wrapper fade"></div>
  </div>
  </div>
  <div class="clear"></div>
  <app-info-what></app-info-what>
  <app-technology></app-technology>
  