.tech-outer{
	float:left;	
	min-height:258px;
	color:#fffefe;
	text-align:center;
	}
.tech-outer span{
	width:104px;
	height:74px;
	margin:52px auto 0 auto;
	display:inline-block;
}

.tech-outer h3{
	font:24px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:10px 0;
    }

.tech h4{
	font:24px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:10px 0;
	color: #363940;
	}
.tech-outer.bg-col-01 span, .tech-outer.bg-col-02 span,.tech-outer.bg-col-03 span{
		background-size: 100%;
		background: url(../../../images/sprite.png) left -92px no-repeat;
		height: 74px;
		display: inline-block;
}
.tech-outer.bg-col-01{background:#0b384b;}
.tech-outer.bg-col-01 span{ width: 66px;}
.tech-outer.bg-col-02{background:#0a3345;}
.tech-outer.bg-col-02 span{ background-position-x: -68px; }
.tech-outer.bg-col-03{ background:#092e3f;}
.tech-outer.bg-col-03 span{ background-position-x: -179px;}


.tech span{
	margin: 10px 0;
	width: 90px;
	height: 91px;
	display: inline-block;
	background: url(../../../images/sprite.png) left top no-repeat;
}

.tech.tech-02 span{
	background-position-x: -94px;
}

.tech.tech-03 span{
	background-position-x: -188px;
}

.tech.tech-04 span{
	background-position-x: -283px;
}
