<div @fade>
<div class="logo"> 
		<span><img src="images/logo.png"/></span>
	</div>
    <div class="menu" style="opacity: 0.99;" alt="Click here to open menu" title="Click here to open menu">
        <div class="ligne1"></div>
        <div class="ligne2"></div>
        <div class="ligne3"></div>
    </div>
	<div class="noir" style="opacity: 0.5; display: none;"></div>
	<div class="nav">
		<div class="close"></div>
		<span class="proto"><img src="images/logo.png"/></span>
		<div class="projets" style="margin-top: -91px; font-size: 16px;">
			<ul>
				<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
				<li><a routerLink="/about" routerLinkActive="active">About Me</a></li>
				<li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
				<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
				<li><a routerLink="/login" routerLinkActive="active">Login</a></li>
			</ul>
        </div>
	</div>
</div>