<header>
    <h3>Contact</h3>
  </header>
  <div class="inner-container contact">
  <div class="home-text" style="width: 570px; margin: 0 auto; text-align: left; margin-bottom: 50px; line-height: 32px; color: #b5b5b5;">	  
    <div>Name:Paras Verma</div>
    <div>E-mail ID: paras777@gmail.com</div>
    <div>Contact No: 9914103572</div>
    <div>Chandigarh </div>
  </div>
        <div class="message">
          <h2>LEAVE A MESSAGE HERE</h2>
          <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" autofocus  class="form-control" id="name" name="name" required ngModel /> 
            <label for="email">E-mail</label>
            <input class="magin0 form-control" type="email"  id="email" name="email" required ngModel/>
          </div>

          <div class="form-group">
            <label for="content">Content</label> 
            <textarea class="form-control" id="content" required ngModel name="content" ></textarea>
          </div>

          <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">
            Send
          </button>
      </form>
  </div>
